.empl__header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: whitesmoke;
    letter-spacing: 1px;
}

.loading__div{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* width: 100vw; */
    /* overflow-y: scroll; */
    background-color: #202124;
    /* padding: 20px; */
    /* position: relative; */
}

.quick__actions{
    display: flex;
    margin: 10px;
    padding: 15px;
    background-color: rgb(40, 40, 40);
    border-radius: 9px;
}

.queue__section__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 20px 0px 0px 0px;
    border-radius: 9px;
    background-color: rgb(40, 40, 40);
    box-shadow: 0px 0px 9px rgba(35, 35, 35, 0.626);
}

.queue__information{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: large;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.queue__information>span{
    margin: 9px;
}

.lst__udt{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(152, 151, 151);
}

.map__section{
    display: flex;
    flex-direction: column;
    margin: 35px 0px 35px 0px ;
}

.tips__background{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
background-color: #202124e0;
}

.close{
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    border-radius: 9px;
    color: black;
    background-color: #fff;
    cursor: pointer;
}

.tips__wrapper{
    display: flex;
    flex-direction: column;
    padding: 15px;
    max-width: 90vw;
    min-height: 50vh;
    background-color: #1d1e21;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 6px black;
    font-family: Arial, Helvetica, sans-serif;
}

.tips__div{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: large;
}

.tips__header{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 5px 10px 5px;

}

.tips__elements{
    color: whitesmoke;
}